<%- include("templates/header") %>
    <form action="/signup">
        <button class="btn btn-outline-primary m-1">Sign Up</button>
    </form>
    <form action="/login">
        <button class="btn btn-outline-secondary m-1">Log In</button>
    </form>
<%- include("templates/footer") %>
