<%- include("templates/header") %>
    <div class="container">
        <h1>
            Hello, <%= username %>
        </h1>
        <a class="btn btn-primary m-2" href="/members">Go to members area</a><br>
        <a class="btn btn-danger m-2" href="/logout">Log Out</a>
    </div>
<%- include("templates/footer") %>