<%- include("templates/header") %>
    <div class="container m-2">
        <h1>Password combination not valid</h1>
        <a class="btn btn-danger m-1" href="/login">Try again</a>
    </div>
    <%- include("templates/footer") %>