<%- include("templates/header") %>
    <div class="container m-2">
        <h1> <%=error%> </h1>
        <a class="btn btn-primary m-1" href="/signup">Try again</a>

    </div>
<%- include("templates/footer") %>